.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  color: #029ddd;
  transition: width 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.sidebar-header h2 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 700;
}

.sidebar-header button {
  background: none;
  border: none;
  color: #029ddd;
  cursor: pointer;
  padding: 5px;
}

.sidebar-nav {
  padding: 20px 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: white;
  transition: background-color 0.2s;
}

.nav-item:hover {
  background-color: #029ddd;
  color: #fff;
}

.nav-icon {
  margin-right: 15px;
  font-size: 1.2rem;
  color: gray;
}

.nav-label {
  white-space: nowrap;
  overflow: hidden;
  color: gray;
}
.nav-item:hover .nav-icon,
.nav-item:hover .nav-label {
  color: #fff;
}

.collapsed .nav-label {
  display: none;
}
